<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Admin Page</title>
	</head>
	<body>
		<div class="container" style="margin-top: 80px; width: 600px;">

			<div ng-if="errorText">
				<div class="alert alert-danger">
					<strong>Error!</strong> Not an admin!
				</div>
			</div>

			<div class="card">
				<div class="card-header"><h2>Admin</h2></div>
				<div class="card-body">

					<form name="adminPage" ng-submit="adminSignIn()">

						<div class="form-group">
							<label for="adminId">Admin Id</label>
							<input type="text" name="adminId" class="form-control" id="adminId" ng-model="admin.adminId" required>
							<p style="color:red;" ng-show="adminPage.adminId.$invalid && !adminPage.adminId.$pristine" class="help-block">adminId is required.</p>
						</div>

						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" class="form-control" id="password" ng-model="admin.password" required>
							<p style="color:red;" ng-show="adminPage.password.$invalid && !adminPage.password.$pristine" class="help-block">password is required.</p>
						</div>
						<button type="submit" class="btn btn-primary" ng-disabled="adminPage.$invalid">Sign In</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>